/* Importações */
@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');

/* Elementos base */
body {
  font-family: 'Poppins', sans-serif;
}

cite {
  font-family: cursive;
}

/* Estilos para o cabeçalho */
header {
  position: relative;
  overflow: hidden;
  height: 200px;
  padding: 20px;
  width: 100%;
  color: #eae0d5;
  box-shadow: 13px 20px 20px 4px rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.header-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../img/pexels-rachel-claire-5863535.webp') #000 center center/cover no-repeat;
  filter: blur(1px);
  z-index: 0;
  will-change: transform;
}

header h1 {
  position: relative;
  z-index: 1;
  font-size: 2.5em;
  font-weight: 700;
  color: #ffb764;
  margin-bottom: 10px;
  text-shadow: 4px 5px 4px #572d00;
  animation: 0.5s forwards slideInLeft;
}

/* Estilos para o relogio */
div.relogio,
p#horario {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.3em;
  color: #eae0d5;
  text-shadow: 4px 5px 4px #572d00;
  animation: 0.5s forwards slideInRight;
}

/* Estilos para a barra de pesquisa */
#search-bar {
  position: relative;
  z-index: 1;
  margin-top: 10px;
  padding: 10px;
  width: 80%;
  max-width: 500px;
  border-radius: 4px;
  border: 1px solid #c6ac8f;
  transition: 0.3s;
}

#search-bar:focus {
  transform: scale(1.03);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

/* estilos para o main */
main {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
}

/* Estilos para os cards */
.book-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  background: linear-gradient(180deg, rgb(0, 0, 0) 0, rgba(0, 0, 0, 0.3) 50%, rgb(0 0 0 / 94%) 100%);
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 10px;
  width: 150px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.book-card:hover {
  transform: scale(1.1) rotate(1deg);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  cursor: url('../img/pointer.png'), pointer;
}

.book-card img {
  width: 100%;
  border-radius: 8px 8px 0 0;
  margin-bottom: 10px;
  transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.book-card h3 {
  font-size: 1em;
  margin: 10px;
}

/* Estilos para o modal */
.modal,
#review-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 22, 30, 0.7);
  justify-content: center;
  align-items: center;
  animation: 0.3s forwards fadeIn;
}

.modal-content {
  background-color: #fff;
  padding: 30px;
  max-width: 90%;
  margin: 0 auto;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  position: relative;
  animation: 0.5s forwards slideDown;
  transform-origin: top center;
}

#modal-title {
  font-size: 1.5em;
  color: #0a0908;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}

#modal-author,
#modal-publisher,
#modal-genre,
#modal-pages,
#modal-year {
  font-size: 1.2em;
  color: #777;
  margin-bottom: 0.4rem;
  display: block;
  text-align: center;
}

#modal-description {
  font-size: 1em;
  line-height: 1.6;
  color: #555;
  text-align: center;
  margin: auto;
  width: 768px;
}

.close {
  color: #5e503f;
  font-size: 24px;
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  font-weight: 700;
  transition: 0.2s;
}

.close:hover {
  color: #e74c3c;
  transform: scale(1.2);
  cursor: url('../img/pointer.png'), pointer;
}

/* Estilos para a resenha */
#review-modal-text {
  text-align: justify;
}

#review-modal-title {
  margin-bottom: 0.5rem;
}

.review-arrow {
  display: flex;
  align-items: center;
  margin-top: 20px;
  color: #598392;
  cursor: pointer;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid #598392;
  margin-right: 10px;
}

/* Estilos para a informação */
.info-container {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
}

.info-icon {
  background-color: #2a9d53;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.info-icon:hover {
  background-color: rgba(0, 112, 47, 0.87);
}

.info-text {
  display: none;
  margin-left: 10px;
  background-color: #0a0908;
  padding: 5px 10px;
  color: #eae0d5;
  border-radius: 5px;
}

.info-container.active .info-text {
  display: inline-block;
}

/* Estilos para o botão de voltar ao topo */
#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  background-color: #2a9d53;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#back-to-top:hover {
  background-color: rgba(0, 112, 47, 0.87);
}

#back-to-top.show {
  opacity: 1;
  visibility: visible;
}

/* estilos para a barra de notificação */
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #0a0908;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  text-align: center;
  color: #eae0d5;
  border-radius: 5px;
  transition: opacity 0.5s;
}

#snackbar.show {
  visibility: visible;
  animation: 0.6s fadeInOut, 0.5s 2.8s fadeOut;
}

/* Estilos para o rodapé */
footer {
  background: linear-gradient(180deg, #1b252d 0%, #22333b 100%);
  margin-top: auto;
  width: 100%;
  padding: 40px 20px;
  font-size: 0.9rem;
  color: #eae0d5;
  text-align: center;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.2);
  z-index: -2;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 30px;
  border-bottom: 1px solid #3a4a52;
}

.footer-container i {
  margin-right: 8px;
}

.footer-container ul {
  list-style: none;
}

.footer-about,
.footer-links,
.footer-contact,
.footer-references,
.foooter-publishers {
  text-align: justify;
}

.footer-about h4,
.footer-links h4,
.footer-contact h4,
.footer-references h4,
.footer-publishers h4 {
  position: relative;
  font-size: 1.2rem;
  font-weight: 700;
  color: #ff8600;
  margin-bottom: 15px;
}

.footer-about h4::after,
.footer-links h4::after,
.footer-contact h4::after,
.footer-references h4::after,
.footer-publishers h4::after {
  display: block;
  background-color: #ff8600;
  border-radius: 2px;
  width: 253px;
  height: 3px;
  margin-top: 2px;
  content: '';
}

.footer-about p,
.footer-contact p {
  font-size: 0.95rem;
  color: #d4c5b2;
  line-height: 1.6;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links,
.footer-references,
a {
  font-size: 0.95rem;
  text-decoration: none;
  color: #eae0d5;
  transition: color 0.3s ease-in-out;
}

.footer-links,
.footer-references,
.footer-publishers,
a:hover {
  color: #ff8600;
}

.footer-contact p {
  margin-bottom: 10px;
  color: #d4c5b2;
}

.footer-contact a {
  font-size: 0.95rem;
  text-decoration: none;
  color: #eae0d5;
  transition: color 0.3s ease-in-out;
}

.footer-contact a:hover {
  color: #ff8600;
}

.footer-publishers {
  font-size: 0.9rem;
  color: #bfbfbf;
}

.footer-publishers h4 {
  text-align: left;
}

.footer-publishers ul {
  text-align: left;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.footer-publishers li {
  margin-bottom: 10px;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 0.9rem;
  color: #bfbfbf;
  margin-top: 30px;
  padding-top: 15px;
}

.footer-bottom p {
  color: #bfbfbf;
}

.footer-bottom a {
  font-weight: 600;
  text-decoration: none;
  color: #ff8600;
  transform: color 0.3s ease-in-out;
}

.footer-bottom a:hover {
  color: #eae0d5;
}

.footer-container .social-links {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.social-links a {
  font-size: 1.4rem;
  color: #eae0d5;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.social-links a:hover {
  color: #ff8600;
  transform: scale(1.2);
}

/* Estilos para o logotipo do skoob */
.skoob-logo {
  width: 20px;
  height: 20px;
  position: relative;
  left: -3px;
  top: 4px;
}

.open-source-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

/* Animações */
@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}