@media (max-width: 768px) {
  header {
    height: 150px;
    padding: 15px;
  }

  header h1 {
    font-size: 2em;
  }

  #search-bar {
    width: 90%;
  }

  .book-card {
    width: 120px;
  }

  .info-container {
    bottom: 10px;
    left: 10px;
  }

  .info-icon {
    width: 25px;
    height: 25px;
  }

  .close {
    font-size: 20px;
  }

  #modal-title {
    font-size: 1.2em;
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-about,
  .footer-links,
  .footer-contact {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  header {
    height: 150px;
    padding: 15px;
  }

  header h1 {
    font-size: 2em;
  }

  #search-bar {
    width: 90%;
  }

  .book-card {
    width: 120px;
  }

  .info-container {
    bottom: 10px;
    left: 10px;
  }

  .info-icon {
    width: 25px;
    height: 25px;
  }

  .close {
    font-size: 20px;
  }

  #modal-title {
    font-size: 1.2em;
  }

  #modal-author,
  #modal-genre,
  #modal-pages,
  #modal-year {
    font-size: 1em;
  }

  #review-modal-title {
    font-size: 1.2em;
  }

  #review-modal-text {
    font-size: 1em;
  }

  .review-arrow {
    margin-top: 10px;
  }

  .arrow {
    border-bottom-width: 8px;
  }

  .arrow-text {
    font-size: 0.8em;
  }

  footer {
    padding: 20px;
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-about,
  .footer-links,
  .footer-contact {
    margin-bottom: 20px;
  }

  .open-source-icon {
    width: 25px;
    height: 25px;
  }

  cite {
    font-family: monospace;
    font-size: 1.2em;
  }

  #back-to-top {
    width: 25px;
    height: 25px;
    font-size: 0.8em;
  }

  #back-to-top i {
    font-size: 1em;
  }

  #back-to-top:hover {
    width: 30px;
    height: 30px;
  }

  #back-to-top:hover i {
    font-size: 1.2em;
  }

  #back-to-top:active {
    width: 25px;
    height: 25px;
  }

  #back-to-top:active i {
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  header {
    height: 120px;
    padding: 10px;
  }

  div.relogio,
  p#horario {
    font-size: 1em;
    top: 17px;
    right: 17px;
  }

  header h1 {
    font-size: 1.5em;
    text-align: left;
  }

  #search-bar {
    width: 95%;
  }

  .book-card {
    width: 100px;
  }

  .info-container {
    bottom: 5px;
    left: 5px;
  }

  .info-icon {
    width: 20px;
    height: 20px;
  }

  .close {
    font-size: 18px;
  }

  .modal-content {
    font-size: 14px;
    word-wrap: break-word;
    width: 100%;
    height: auto;
    padding: 16px;
    box-sizing: border-box;
  }

  #modal-title {
    font-size: 1.1em;
  }

  #modal-author,
  #modal-genre,
  #modal-pages,
  #modal-year {
    font-size: 1em;
  }

  #modal-description {
    width: 100%;
    font-size: 1em;
    color: #555;
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 20px;
    overflow-y: auto;
  }

  #review-modal-title {
    font-size: 1.1em;
  }

  #review-modal {
    width: 100%;
  }

  #review-modal-text {
    font-size: 1em;
  }

  .close {
    top: 10px;
    right: 10px;
  }
}